m = $('#modal');
m.html('<%= j(render partial: 'show') %>');
m.modal('show');
var seriesOptions = [],
  seriesCounter = 0,
  names = ['success', 'fail'];

function createChart() {
  Highcharts.stockChart('container_show', {
    chart: {
      zoomType: 'x'
    },
    subtitle: {
      text: document.ontouchstart === undefined ?
      'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
    },
    xAxis: {
      type: 'datetime'
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      area: {
        fillColor: {
          linearGradient: {
            x1: 0,
            y1: 0,
            x2: 0,
            y2: 1
          },
          stops: [
            [0, Highcharts.getOptions().colors[0]],
            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
          ]
        },
        marker: {
          radius: 2
        },
        lineWidth: 1,
        states: {
          hover: {
            lineWidth: 1
          }
        },
        threshold: null
      },
      series: {
        compare: 'percent',
        showInNavigator: true
      }
    },
    rangeSelector: {
      selected: 4
    },

    yAxis: {
      labels: {
        formatter: function () {
          return (this.value > 0 ? ' + ' : '') + this.value + '%';
        }
      },
      plotLines: [{
        value: 0,
        width: 2,
        color: 'silver'
      }]
    },

    tooltip: {
      pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
      split: true
    },

    series: seriesOptions
  });
}

$.each(names, function (i, name) {
  $.getJSON('/messages', { status: name.toLowerCase(), recipient_id: <%= @recipient.id %> },    function (data) {

    seriesOptions[i] = {
      name: name,
      data: data
    };

    seriesCounter += 1;

    if (seriesCounter === names.length) {
      createChart();
    }
  });
});
